<div class="card hoverable">
  <div class="card-image" {{action 'click' contact}}>
    <img src={{contact.avatar}} alt="public/user.png">
  </div>
  <div class="card-content">
    <h5 class="truncate">{{contact.first_name}} {{contact.last_name}}</h5>
  </div>
  <div class="card-action right-align">
    <a {{action 'edit' contact}}>
      {{material-icon "mode_edit"}}
    </a>
  </div>
</div>
