<div class="fixed-action-btn">
  <a class="btn-floating btn-large red" {{action 'openContactModal'}}>
    {{material-icon "add"}}
  </a>
</div>

<div class="row">
  <div class="col s12 center-align">
    <h3>Contact list</h3>
  </div>
</div>

<div class="row">
  {{#each model.data as |contact|}}
    {{contact-card contact=contact
                   clickAction=(action "showDetails")
                   deleteAction=(action "deleteContact")
                   editAction=(action "openContactModal")}}
  {{/each}}
</div>

<div class="row">
  <div class="col s12 center-align">
    <h6>Showing {{model.data.length}} of {{model.total}}</h6>
  </div>

  <div class="col s12 center-align">
    <a class="waves-effect waves-teal btn-flat {{unless hasMorePages "disabled"}}"
       {{action "loadNextPage"}}>
      Show more
    </a>
  </div>
</div>
